.info_block{
    cursor: pointer;
    .main{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 25px;
        color: var(--third-text-color);

        h2{
            font-size: 21px;
            line-height: 24px;
        }
        
    }

    .info{
        height: auto;
        margin: 10px 0 0 20px;
        opacity: 1;
        transition: all 500ms ease-in-out;
        
        p{
            font-size: 18px;
        }

    }

    .hidden_info{
        height: 0;
        opacity: 0;
        transition: all 200ms ease-in-out;
    }
}