.header_menu{
    width: 100%;
    background-color: var(--third-text-color);
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 150ms ease-in;
    display: flex;
    justify-content: center;
    align-items: center;

    ul{
        text-align: center;
        li{
            margin-bottom: 30px;
            padding-bottom: 10px;
            border-bottom: solid 2px var(--text-hover);
            a{
                color:var(--text-color);
                font-size: 30px;
    
                &:hover{
                    color:var(--text-hover);
                }
            }
        }
        
    }
    
}

.hidden_header_menu{
    transition: all 50ms ease-in-out;
    position: absolute;
    top: -100%;
}