.footer{
    padding: 50px 150px;
    min-height: 550px;
    background: linear-gradient(90deg, rgba(172,168,204,1) 0%, rgba(154,25,190,1) 100%);
    
    .content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: start;

        .main{
            display: flex;
            flex-direction: column;
            gap:50px;
            color: var(--text-color);

            h1{
                font-size: 29px;
                font-weight: bold;
            }
            p{
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
            }

            .input_block{
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: white;
                position: relative;
                max-width: 300px;
                width: 100%;
                height: 50px;
                padding: 5px;
                border-radius: 15px;

                input{
                    font-size: 16px;
                    background-color: rgba($color: #000000, $alpha: 0);
                }

                .icon{
                    color: black;
                }
            }
        }

        .other{
            h2{
                color: rgba($color: #fff, $alpha: 0.5);
                font-size: 16px;
                line-height: 21px;
                margin-bottom: 30px;

            }

            ul{
                color: var(--text-color);

                li{
                    margin-bottom: 20px;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 21px;
                }
            }
        }
    }

    .socials{
        max-height: 100px;
        display: flex;
        align-items: end;
        div{
            max-width: 200px;
            margin-left: auto;

            a{
                color: black;
                
            }
        }
    }
    
}

@media (max-width:1100px) {
    .footer{
        padding: 50px;

        .content{
            flex-direction: column;
            gap:30px
        }
    }
}