@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap';

:root{
  --text-color: #FFFFFF;
  --text-hover: #9c9c9e;
  --button-color: #7140EB;
  --button-hover-color: #5529c5;
  --second-text-color: #49464F;
  --third-text-color: #2E2C34;
  --background-color: #FFFFFF;
  --second-background-color: #F5F5F7;
  font-family: 'Roboto';
}